!!!5
%html
	%head
		= stylesheet_link_tag    'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags
		%title
			itronaut - 
			=if @content then @content.name.capitalize! else controller.controller_name.gsub('_', ' ').split(' ').each{|word| word.capitalize!}.join(' ') end
		


	%body{ :class => if @content then @content.name.downcase! else controller.controller_name end }
		#header_background
			#bottom_ridge
		#stage
			.header
				= render 'header' rescue nil
			.content
				= yield
			.footer
				= render 'footer' rescue nil
